table {
	border-collapse: collapse;
	width: 600px;
	font: 14px sans-serif;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
th {
	border: 1px solid #000;
	background-image: linear-gradient(to right, #ff8180, #fff580);
	padding: 10px;
}
td {
	border: 1px solid #000;
	padding: 10px;
}